@media (max-width: 359px), (max-height: 615px) {
    .center-container {
        width: 85%
    }
    html, body {
        font-size: 22px;
    }

    .header {
        font-size: 1.5rem;
    }
}

@media (min-width: 360px) and (min-height: 616px) {
    .center-container {
        width: 80%
    }
    html, body {
        font-size: 24px;
    }

    .header {
        font-size: 1.5rem;
    }
}

@media (min-width: 432px) and (min-height: 630px) {
    .center-container {
        width: 70%
    }
    html, body {
        font-size: 24px;
    }

    .header {
        font-size: 1.75rem;
    }
}

@media (min-width: 576px) and (min-height: 696px) {
    .center-container {
        width: 60%
    }

    html, body {
        font-size: 26px;
    }
    .header {
        font-size: 2rem;
    }
}

@media (min-width: 672px) and (min-height: 764px) {
    .center-container {
        width: 60%
    }
    
    html, body {
        font-size: 28px;
    }
    
    .header {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) and (min-height: 832px) {
    .center-container {
        width: 50%
    }

    html, body {
        font-size: 30px;
    }

    .header {
        font-size: 2.4rem;
    }
}

@media (min-width: 992px) and (min-height: 888px) { 
    .center-container {
        width: 40%
    }

    html, body {
        font-size: 32px;
    }

    .header {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) and (min-height: 890px) {
    .center-container {
        width: 30%
    }

    html, body {
        font-size: 34px;
    }

    .header {
        font-size: 2.5rem;
    }
}
